<div class="root">
  <div class="card">
    <mat-card class="rideClass">
      <!-- username textfield -->
      <div class="auth-title">
        <mat-card-title> Login </mat-card-title>
      </div>

      <div class="general-cus">
        <mat-form-field class="mat-form-field">
          <mat-label>Email</mat-label>
          <!-- <input type="text" #name (keyup)="getSpecificValues(name.value)" matInput /> -->
          <input matInput #name (keyup.enter)="getSpecificValues(name.value)" placeholder="pat@example.com" [formControl]='email' required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <!-- username textfield -->  

      <!-- password textfield -->
      <div class="general-cus">
        <mat-form-field class="mat-form-field">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" #pass (keyup)="getSpecificValues(pass.value)" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <!-- password textfield -->

      <!-- btton -->
      <div class="card-actions">
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="login(name.value,pass.value)" >Sign In</button>
        </mat-card-actions>
      </div>
      <!-- btton -->
    </mat-card>

  </div>

</div>