.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #122F55;
}

.list-items {
  color: aliceblue;

}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.mat-primary {
  background: white;
  color: rgb(34, 32, 32);
}

.container {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 10px;
}
