<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="list-items">Menu</mat-toolbar>
    <mat-nav-list>
      <a class="list-items" *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"> {{item | titlecase}} </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="container">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>search</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>search</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <app-header></app-header> -->
    <app-dash-component></app-dash-component>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
